* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/legno.png);
  background-repeat: repeat;
}

.wrapper {
  width: 800px;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

header {
  height: 300px;
  width: 100%;
  margin: 20px auto;
}

.logo {
  height: 260px;
  width: 100%;
  border: 10px solid white;
  background-image: url(../img/alberi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.nature {
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nature h1 {
  display: inline-block;
  border: 2px solid white;
  padding: 0 5px;
}

.menu {
  height: 40px;
  width: 100%;
  background-color: darkgray;
}

#collegamenti {
  list-style: none;
  text-align: center;
  line-height: 40px;
}

#collegamenti > li {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 5px;
  color: white;
}

li:hover {
  text-decoration: underline;
}

section {
  margin: 20px auto;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.sinistra, .destra {
  float: left;
  width: 25%
}

.centro {
  float: left;
  width: 42%;
  margin-left: 4%;
  margin-right: 4%;
}

.sinistra, .centro {
  background-color: white;
  border-radius: 10px;
  padding: 7px;
}

.sinistra > h3 {
  font-size: 25px;
  color: gray;
}

#ads {
  list-style: none;
  color: green;
  font-size: 18px;
}

#ads > li {
  margin: 15px 0;
}

.inferiore, .centrale, .superiore {
  padding: 7px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}

footer {
  height: 100px;
  background-color: blue;
}
